/* ::selection {
  background: #3297FD;
  color: white;
} */

/* ~~~~~~~~ General Tags ~~~~~~~~ */
section {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: none;
}

body.side-panel-static .body-inner .container {
    max-width: 95%;
}

h1, h2 {
	color: dodgerblue;
}

b, p {
	color: black;
}

p, li, .ac-item {
	font-size: 1.2rem;
}

.bg-primary, .call-to-action.call-to-action-colored {
	background-color: dodgerblue
}

.text-primary {
	color: dodgerblue
}

.icon_column {
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
	padding-top: 4px;
}

.link_click {
	color: black;
	text-decoration: underline;
}

.link_click:hover, a:not(.btn):not(.badge):hover {
	color: dodgerblue
}

.small_space {
    height: 25px;
}

.big_bold {
    font-weight: 900;
}

/* ~~~~~~~~ Page Layouts ~~~~~~~~ */
/* Side Panel */
#side-panel {
    transition: 0;
}

#side-panel .side-panel-wrap {
    padding: 15px;
}

#side-panel .side-panel-wrap  #logo-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 25px;
}

#side-panel.dark #mainMenu nav > ul > li:hover > a {
    color: dodgerblue;
}

#side-panel.dark .side-panel-wrap .copyright-content {
    color: #777;
}

.header-logo-center #logo {
	width: 95%;
}

#header .header-inner #logo small {
	font-size: 35%;
}

/* Anchor Tags */
#mainMenu nav > ul > li:hover > a,
#mainMenu nav > ul > li .dropdown-menu > li:hover > a,
#mainMenu nav > ul > li .dropdown-menu > li > span:hover {
	color: #0fb7ff;
}

/* Background */
#computer-repair-section, #custom-built-section, #about-us-section {
	background-image: url('../images/white-hex-background-right.jpg');
	background-size: cover;
}

/* Buttons */
button.btn, .btn:not(.close):not(.mfp-close) {
	background-color: #0fb7ff;
	border-color: #0fb7ff;
}

/* Scroll To Top */
#scrollTop {
    bottom: 70px!important;
}


/* Footer */
#footer li {
	list-style-type: none;
}
#contact-footer {
	padding-left: 150px;
}

#footer .footer-content #contact-img {
	background-image: url('../images/blue-2d-circuit-md.jpg');
	background-position-y: 43%;
}

#footer .footer-content section .container h2,
#footer .footer-content section .container h4,
#footer .footer-content section .container h5,
#footer .footer-content section .container p {
	color: white;
}

#footer .footer-content section .container .footer_link h5 {
	text-decoration: underline;
}

#footer .footer-content section .container .footer_link h5:hover {
	color: #0fb7ff;
}

/* .icon_column, .footer_num, .footer_email h5 {
	line-height: 1.25em;
} */

.footer_num, .footer_email {
	margin-top: 2px;
}

#footer .footer-content {
	padding: 0;
}

address p {
	margin-bottom: 0;
}


/* ~~~~~~~~ Individual Pages ~~~~~~~~ */
/* Home Page */
section#home-halfscreen-section.halfscreen {
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-position-y: 10%;
}

#home-halfscreen-section .text-middle {
	position: absolute;
    top: 150px;
    left: 50px;
    right: 0;
    bottom: 0;
}

#home-halfscreen-section .text-middle #home-im-a-text {
    padding-right: 120px;
}

#home-text-section {
	padding-top: 20px;
}

#home-intro a:not(.btn):not(.badge):hover {
	color: dodgerblue
}

#home-page-repair a, #home-page-build a {
	color: black
}

.orange {
	color: #db7700;
}

#home-page-repair a .orange:hover, #home-page-repair a:hover {
	color: dodgerblue;
	transition: color 0.5s;
}

.blue {
	color: dodgerblue
}

#home-page-build a .blue:hover, #home-page-build a:hover {
	color: #db7700;
	transition: color 0.5s;
}

#home-live-websites {
	padding-bottom: 30px;
}

#home-education-projects:hover {
	color: dodgerblue
}

#colorful-keyboard, #repair-img {
	padding-right: 0;
}

#colorful-keyboard img, #repair-img img {
	width: 100%;
	height: 10vh;
	border-radius: 50%;
}

#home-live-websites-text,
#home-education-projects-text {
	margin-top: 10px;
}

/* About */

/* Education */

/* Live Websites */
#live-websites-section img {
    width: 100%;
}

/* FAQ */
.ac-active {
	background-color: lightgray;
}

.faq_padding {
	padding-left: 50px;
}

#viruses-faq, #software-faq, #hardware-faq {
	margin-bottom: 20px;
}