/* ::selection {
  background: #3297FD;
  color: white;
} */

/* ~~~~~~~~ General Tags ~~~~~~~~ */
section {
	background-color: white;
	padding-top: 0px;
	padding-bottom: 10px;
	background-image: none;
}

body.side-panel-static .body-inner .container {
    max-width: 100%;
}

h1, h2 {
	color: dodgerblue;
}

b, p {
	color: black;
}

p, li, .ac-item {
	font-size: 1.2rem;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 3px solid red;
}

.bg-primary, .call-to-action.call-to-action-colored {
	background-color: dodgerblue
}

.text-primary {
	color: dodgerblue
}

.row {
    margin: 0;
}

.icon_column {
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
	padding-top: 4px;
}

.link_click {
	color: black;
	text-decoration: underline;
}

.link_click:hover, a:not(.btn):not(.badge):hover {
	color: dodgerblue
}

.small_space {
    height: 25px;
    border: none;
}

.big_bold {
    font-weight: 900;
}

.side-panel.side-panel-static .body-inner > .page_header_section > .container {
    max-width: 100%;
    padding: 0;
}

.page_header {
    background-color: black;
    padding: 15px 80px;
}

.page_header h2 {
    color: white;
}

.project_title {
    color: black;
    font-size: 30px;
}

/* ~~~~~~~~ Page Layouts ~~~~~~~~ */
/* Side Panel */
#side-panel {
    transition: 0;
}

#side-panel .side-panel-wrap {
    padding: 15px;
}

#side-panel .side-panel-wrap  #logo-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 25px;
}

#side-panel.dark #mainMenu nav > ul > li:hover > a {
    color: dodgerblue;
}

#side-panel.dark .side-panel-wrap .copyright-content {
    color: #777;
}

.header-logo-center #logo {
	width: 95%;
}

#header .header-inner #logo small {
	font-size: 35%;
}

/* Anchor Tags */
#mainMenu nav > ul > li:hover > a,
#mainMenu nav > ul > li .dropdown-menu > li:hover > a,
#mainMenu nav > ul > li .dropdown-menu > li > span:hover {
	color: #0fb7ff;
}

/* Background */


/* Buttons */
button.btn, .btn:not(.close):not(.mfp-close) {
	background-color: #0fb7ff;
	border-color: #0fb7ff;
}

/* Scroll To Top */
#scrollTop {
    bottom: 70px!important;
}


/* Footer */
#footer li {
	list-style-type: none;
}

#footer .footer-content #footer-img {
	background-image: url('../images/glass-city-twilight-skyline.jpg');
	background-position-y: 15%;
}

/* #footer #footer-title,
#footer #email-footer {
    margin-bottom: 5px;
} */

#footer .footer_logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#footer #github-footer-col {
    padding-left: 25px;
}

#footer .footer-content section .container h2,
#footer .footer-content section .container h4,
#footer .footer-content section .container h5,
#footer .footer-content section .container p {
	color: black;
}

#footer .footer-content section .container .footer_link h5 {
	text-decoration: underline;
}

#footer a:not(.btn):not(:hover) {
    color: black;
}

#footer .footer-content section .container .footer_link h5:hover {
	color: #0fb7ff;
}

/* .icon_column, .footer_num, .footer_email h5 {
	line-height: 1.25em;
} */

.footer_num, .footer_email {
	margin-top: 2px;
}

#footer .footer-content {
	padding: 0;
}

address p {
	margin-bottom: 0;
}


/* ~~~~~~~~ Individual Pages ~~~~~~~~ */
/* Home Page */
section#home-halfscreen-section.halfscreen {
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-position-y: 10%;
}

#home-halfscreen-section .text-middle {
	position: absolute;
    top: 150px;
    left: 50px;
    right: 0;
    bottom: 0;
}

#home-halfscreen-section .text-middle #home-im-a-text {
    padding-right: 120px;
}

#home-text-section .card {
    border: 2px solid black;
}

#home-text-section .card .card-header {
    padding: 0;
    border-bottom: 1px solid black;
}

#home-text-section .card .card-body {
    padding: 1.25rem 2rem;
}

#home-websites {
	padding-bottom: 30px;
}

#home-text-section img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-top: 0;
}

#home-live-websites-text,
#home-education-projects-text {
	margin-top: 10px;
}

/* About */

/* Education */
#school-projects-section .project_image {
    width: 100%;
}

/* Websites */
#websites-section img {
    width: 100%;
}

.portfolio-item .portfolio-image img {
    object-fit: cover;
    height: 350px;
}

/* FAQ */
.ac-active {
	background-color: lightgray;
}

.faq_padding {
	padding-left: 50px;
}

#technology-faq,
#journey-faq,
#miscellaneous-faq {
	margin-bottom: 20px;
}