/* ~~~~~~~~~~~~~~~~~~~  Generic Laptop ~~~~~~~~~~~~~~~~~~~ */
@media screen
	and (max-height: 950px)
	and (max-width: 1280px) {
	/* ~~~~~~~~~~~~~~ General ~~~~~~~~~~~~~~ */
	#mainMenu nav > ul > li > a {
		font-size: 16px;
	}
}



/* ~~~~~~~~~~~~~~ Tablet: Landscape ~~~~~~~~~~~~~~ */
@media only screen
	and (min-width: 768px)
	and (max-width: 1024px)
	and (orientation: landscape) {
	/* ~~~~~~~~~ General ~~~~~~~~~~~ */
	section {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	h1 {
		font-size: 2em;
	}
	
	h2 {
		font-size: 1.75em;
	}
	
	h3 {
		font-size: 1.5em;
	}
	
	h4 {
		font-size: 1.25em;
	}

    .header-extras {
        float: right;
    }
	
	.page_header h2 {
		line-height: 1.5em;
	}
	
	.mobile_subheader h4 {
		line-height: 1.5em;
	}
	
	p, li, .ac-item {
	font-size: 1.25rem;
	}
	
	.container {
		padding: 0;
	}
		
	/* ~~~~~~~~~ Layouts ~~~~~~~~~~~ */
	/* Side Panel */
	#mainMenu:not(.menu-overlay) nav > ul > li > a {
		font-size: 24px;
	}
	
	#mainMenu:not(.menu-overlay) nav > ul > li .dropdown-menu > li > a,
	#mainMenu:not(.menu-overlay) nav > ul > li .dropdown-menu > li > span {
		font-size: 22px;
	}

	#mainMenu:not(.menu-overlay) nav > ul > li .dropdown-arrow {
		padding-right: 110%;
	}
	
	#contact-nav {
		text-align: left;
	}
	
	/* Footer */
	#contact-footer {
		padding-left: 50px;
	}
	
	/* ~~~~~~~~~ Individual Pages ~~~~~~~~~~~ */
	/* Home Page */
	#opening-text {
	line-height: 1.5em;
	font-size: 65px;
	font-weight: 800;
	letter-spacing: -.02em;
	padding-left: 35px;
	}
	
}





/* ~~~~~~~~~~ Tablet: Portrait ~~~~~~~~~~ */
@media only screen
	and (min-width: 481px)
	and (max-width: 768px)
	and (orientation: portrait) {
	/* ~~~~~~~~ General Tags ~~~~~~~~ */
	section {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	h1 {
		font-size: 2em;
	}
	
	h2 {
		font-size: 1.75em;
	}
	
	h3 {
		font-size: 1.5em;
	}
	
	h4 {
		font-size: 1.25em;
	}

    .header-extras {
        float: right;
    }
	
	.page_header h2 {
		line-height: 1.5em;
	}
	
	.mobile_subheader h4 {
		line-height: 1.5em;
	}
	
	p, li, .ac-item {
	font-size: 1.25rem;
	}
	
	.container {
		padding: 0;
	}
		
	/* ~~~~~~~~~~~~~~ Page Layouts ~~~~~~~~~~~~~~ */
	/* Side Panel */
	#mainMenu:not(.menu-overlay) nav > ul > li > a {
		font-size: 24px;
	}
	
	#mainMenu:not(.menu-overlay) nav > ul > li .dropdown-menu > li > a,
	#mainMenu:not(.menu-overlay) nav > ul > li .dropdown-menu > li > span {
		font-size: 22px;
	}

	#mainMenu:not(.menu-overlay) nav > ul > li .dropdown-arrow {
		padding-right: 110%;
	}
	
	/* Footer */
	#contact-footer {
		padding-left: 0;
	}
	
	/* ~~~~~~~~ Individual Pages ~~~~~~~~ */
	/* Home Page */
	.fullscreen .container {
		margin-top: 0;
		margin-bottom: 70px;
	}
	
	#opening-text {
	line-height: 1.5em;
	font-size: 80px;
	font-weight: 800;
	letter-spacing: -.02em;
	padding-left: 80px;
	}
	
}





/* ~~~~~~~~~~ Cell Phone: Landscape ~~~~~~~~~~ */
@media only screen
	and (max-height: 481px)
	and (max-width: 926px)
	and (orientation: landscape) {
	/* ~~~~~~~~~ General ~~~~~~~~~~~ */
	section {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	h1 {
		font-size: 2em;
	}
	
	h2 {
		font-size: 1.75em;
	}
	
	h3 {
		font-size: 1.5em;
	}
	
	h4 {
		font-size: 1.25em;
	}

    .header-extras {
        float: right;
    }
	
	.page_header h2 {
		line-height: 1.25em;
	}
	
	.mobile_subheader h4 {
		line-height: 1.5em;
	}
	
	p, li, .ac-item {
	font-size: 1rem;
	}
	
	.container {
		padding: 0;
	}
		
	/* ~~~~~~~~ Page Layouts ~~~~~~~~ */
	/* Side Panel */
	#mainMenu:not(.menu-overlay) nav > ul > li > a {
		font-size: 18px;
	}
	
	#mainMenu:not(.menu-overlay) nav > ul > li .dropdown-menu > li > a,
	#mainMenu:not(.menu-overlay) nav > ul > li .dropdown-menu > li > span {
		font-size: 16px;
	}

	#mainMenu:not(.menu-overlay) nav > ul > li .dropdown-arrow {
		padding-right: 110%;
	}
	
	/* ~~~~~~~~ Individual Pages ~~~~~~~~ */
	/* Home Page */
	.fullscreen .container {
		margin: 0 175px;
		margin-top: 50px;
	}
	
	#opening-text {
	line-height: 1.5em;
	font-size: 40px;
	font-weight: 800;
	letter-spacing: -.02em;
	padding-left: 35px;
	}
	
}



/* ~~~~~~~~~~~~~~ Cell Phone: Portrait ~~~~~~~~~~~~~~ */
@media only screen
	and (max-width: 480px) 
	and (orientation: portrait) {
	/* ~~~~~~~~ General Tags ~~~~~~~~ */
	section {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	h1 {
		font-size: 2em;
	}
	
	h2 {
		font-size: 1.75em;
	}
	
	h3 {
		font-size: 1.5em;
	}
	
	h4 {
		font-size: 1.25em;
	}

    .header-extras {
        float: right;
    }
	
	.page_header h2 {
		line-height: 1.25em;
	}
	
	.mobile_subheader h4 {
		line-height: 1.5em;
	}
	
	.container {
		padding: 0 20px;
	}
	
	.fullscreen {
		min-height: 50vh;
	}
	
	.fullscreen .container {
		margin-top: 50px;
	}
	
	section {
		background-image: none;
	}
	
	/* ~~~~~~~~ Page Layouts ~~~~~~~~ */
	/* Logo */
	#header #logo {
		margin-top: -10px!important;
	}

	#header .header-inner #logo a {
		margin-left: -50px;
	}
	
	#header .header-inner small {
		position: absolute;
		right: 110px;
		bottom: -30px;
	}
	
	/* Side Panel */
	#mainMenu:not(.menu-overlay) nav > ul > li > a {
		font-size: 18px;
	}
	
	#mainMenu:not(.menu-overlay) nav > ul > li .dropdown-menu > li > a,
	#mainMenu:not(.menu-overlay) nav > ul > li .dropdown-menu > li > span {
		font-size: 16px;
	}

	#mainMenu:not(.menu-overlay) nav > ul > li .dropdown-arrow {
		padding-right: 110%;
	}
	
	#contact-nav {
		text-align: left;
	}
	
	/* Background */
	#networking-section, #data-recovery-section, #about-us-section {
		background-image: none;
	}
	
	
	/* Footer */
	#contact-footer {
		padding-left: 15px;
	}
	
	#footer .copyright-content {
		padding: 15px 5px;
	}
	
	/* ~~~~~~~~ Individual Pages ~~~~~~~~ */
	/* Home Page */
	#opening-text {
	line-height: 1.5em;
	font-size: 30px;
	font-weight: 800;
	letter-spacing: -.02em;
	padding-left: 40px;
	}
	
	#section1 {
		background-position: 55% 50%;
	}
	
	/* FAQ */
	#faq-header {
		padding-right: 0;
	}
	
	.faq_padding {
		padding-left: 0;
	}

	.accordion .ac-item .ac-title {
		padding-right: 20px;
	}
}

